In [11]:
# 수동 리스트 
a =[1,2,3,4,5,6,7,8,9,10]
print(a, type(a))

# for 반복문 
for i in range(1,11):
    print(i, end="")
 
    
# for 반복문 + append 
b = []
for i in range(1,11):
    b.append(i)
print(b)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10] <class 'list'>
12345678910[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [15]:
# list comprehension 
c = [i for i in range(1,11)]
c

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [16]:
# 각 숫자를 제곱한 값을 저장하는 리스트를 만들기
c = [i*i for i in range(1,11)]
c

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [24]:
# 5를 제외한 1~ 10 까지의 제곱 수 구하기 

c = [i*i for i in range(1,11) if i !=5]
c

[1, 4, 9, 16, 36, 49, 64, 81, 100]

In [26]:
# 짝, 홀수만
c = [i for i in range(1,51) if i % 2 ==0]
d = [i for i in range(1,51) if i % 2 !=0]

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50]

In [28]:
# 함수사용 
e = [abs(i) for i in [1,2,-3,4,-9,10,11,-12]]
e

[1, 2, 3, 4, 9, 10, 11, 12]

In [29]:
def my_func(i):
    i = i * 2
    return i

In [31]:
my_func(2)

4

In [32]:
e = [my_func(abs(i)) for i in [1,2,-3,4,-9,10,11,-12]]
e

[2, 4, 6, 8, 18, 20, 22, 24]

In [41]:
a = [(i,j) for i in range(3) for j in range(3)]
a

[(0, 0), (0, 1), (0, 2), (1, 0), (1, 1), (1, 2), (2, 0), (2, 1), (2, 2)]

In [42]:
b = [(i,j) for i in range(2,4) for j in range(1,4)]
b
# 예상 (2,1)(2,2)(2,3)/ (3,1)(3,2)(3,3)

[(2, 1), (2, 2), (2, 3), (3, 1), (3, 2), (3, 3)]

In [ ]:
# Dictionary 
# 예를 들어, {Key:Value}가 하나의 쌍을 이루어서 만들어지는 데이터값
# value에 접근할 때는 Key를 참조하여 접근한다. 
# index 접근이 불가능하다 ex dic[0]
# 순서가 없다.

In [45]:
# 딕셔너리 만들기1
dic={}
dic["id"]="hong"
dic["name"]=[1,2,3,4,5]
dic["age"]=20
dic["hp"]="010-1234-5678"
dic["address"]="여나동여나아파트"

print(dic["hp"])

[1, 2, 3, 4, 5]

In [54]:
for i in dic.keys(): 
    print(i)  # key 출력 
print("____________")
for j in dic.values():
    print(j)  # value 출력
print("____________")

for i, j in dic.items():
    print(i,j) # key, value값 출력

id
name
age
hp
address
____________
hong
[1, 2, 3, 4, 5]
20
010-1234-5678
여나동여나아파트
____________
id hong
name [1, 2, 3, 4, 5]
age 20
hp 010-1234-5678
address 여나동여나아파트

In [57]:
# 딕셔너리 만들기2

dic={
    "name":"여나조",
    "id":"yunajoe",
    "age":20
}
print(dic)

{'name': '여나조', 'id': 'yunajoe', 'age': 20}

In [61]:
# 중첩 딕셔너리 만들기 

dic={
      "name":"을지문덕", 
      "age":30, 
      "pastime":{
          "reading":30, 
          "walking":60
      }    
}
print(dic)
print(dic['pastime'])

{'name': '을지문덕', 'age': 30, 'pastime': {'reading': 30, 'walking': 60}}
{'reading': 30, 'walking': 60}

In [65]:
# 삽입, 수정, 삭제 
dic={
    "name":"여나조",
    "id":"yunajoe",
    "age":20
}

print(dic) # original 

dic["hobby"]="singing" # hobby 더하기 
print(dic) 

dic["age"] = 33
print(dic) # 수정하기 

del dic["age"] #age 삭제하기 
print(dic)

{'name': '여나조', 'id': 'yunajoe', 'age': 20}
{'name': '여나조', 'id': 'yunajoe', 'age': 20, 'hobby': 'singing'}
{'name': '여나조', 'id': 'yunajoe', 'age': 33, 'hobby': 'singing'}
{'name': '여나조', 'id': 'yunajoe', 'hobby': 'singing'}