In [7]:
# 다음과 같이 판매가가 저장된 리스트가 있을 때 부가세가 포함된 가격을 for 문을 사용해서 화면에 출력하라. 단 부가세는 10원으로 가정

리스트 = [100, 200, 300]
for x in 리스트:
    print(x+10)

110
210
310

In [12]:
리스트 = ["김밥", "라면", "튀김"]

for x in 리스트:
    print("오늘의 메뉴:", x)    # 
    
리스트2 = ["김밥", "우동", "쫄면"]

for y in 리스트2:
    print("오늘의 메뉴:" + y)

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김
오늘의 메뉴:김밥
오늘의 메뉴:우동
오늘의 메뉴:쫄면

In [13]:
# 문자열의 길이 출력 
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
for i in 리스트:
    print(len(i))

6
4
4

In [14]:
# 리스트 이름과 문자길이 출력 
리스트 = ['dog', 'cat', 'parrot']
for i in 리스트:
    print(i, len(i))

dog 3
cat 3
parrot 6

In [20]:
# 동물이름의 첫 글자만 출력 
리스트 = ['dog', 'cat', 'parrot']
for name in 리스트:
    print(name[0])

d
c
p

In [21]:
number= 3
리스트 = [1, 2, 3]
for i in 리스트:
    print("{} * {}".format(number,i ))

3 * 1
3 * 2
3 * 3

In [22]:
N = 3
리스트 = [1, 2, 3]
for i in 리스트:
    print("{} * {} = {}".format(N,i,N*i))

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9

In [33]:
리스트 = ["가", "나", "다", "라"]

for x in range(0,len(리스트),2):
    print(리스트[x])
    
리스트2 = ["A", "B", "C", "D"]

for y in 리스트2[::2]:
    print(y)

가
다
A
C

In [34]:
리스트 = ["가", "나", "다", "라"]
for i in 리스트[::-1]:
    print(i)

라
다
나
가

In [35]:
# 음수만출력하기 
리스트 = [3, -20, -3, 44]
for i in 리스트:
    if i < 0 :
        print(i)
    else:
        pass

-20
-3

In [36]:
# 3의 배수만 출력하기 
리스트 = [3, 100, 23, 44]
for i in 리스트:
    if i % 3 == 0 :
        print(i)
    else:
        pass

3

In [38]:
# 20 보다 작은 3의배수 출력하기 

리스트 = [13, 21, 12, 14, 30, 18]
for i in 리스트:
    if i % 3 == 0 and i < 20:
        print(i)

12
18

In [39]:
# 세 글자이상의 문자를 화면에 출력하기 
리스트 = ["I", "study", "python", "language", "!"]
for i in 리스트:
    if len(i) >=3:
        print(i)

study
python
language

In [42]:
# 대문자만 화면에 출력하기 
리스트 = ["A", "b", "c", "D"]
for i in 리스트:
    if i.isupper() == True:
        print(i)

A
D

In [43]:
# 소문자만 화면에 출력하기 

리스트 = ["A", "b", "c", "D"]

for i in 리스트:
    if i.isupper() == False:
        print(i)

b
c

In [47]:
# 첫 글자를 대문자로 변경해서 출력하기

리스트 = ['dog', 'cat', 'parrot']
for i in 리스트:
    if i[0].isupper() == False:
        print(i[0].upper()+i[1:])

Dog
Cat
Parrot

In [48]:
# split()를 이용하여 마침표를 구분자로 문자열을 분할
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']
for i in 리스트:
    split_리스트 = i.split(".")
    print(split_리스트[0])

hello
ex01
intro

In [56]:
# .h인 파일 이름 출력하기 
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']

for i in 리스트:
    split = i.split(".")
    if "h" in split:
        print(i)
    else:
        pass

intra.h
define.h

In [65]:
# 확장자가  .h나 .c인 파일을 화면에 출력하라 
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']

for i in 리스트:
    split = i.split(".")
    if ("h" in split) or ("c" in split):
        print(i)

intra.h
intra.c
define.h

In [66]:
# for문과 range 구문을 사용해서 0~99까지 한 라인에 하나씩 순차적으로 출력하는 프로그램

for i in range(100):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [68]:
# 월드컵은 4년에 한 번 개최된다. range()를 사용하여 2002~2050년까지 중 월드컵이 개최되는 연도를 출력

for i in range(2002,2051,4):
    print(i)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [71]:
# 1부터 30까지의 숫자 중 3의 배수를 출력
for i in range(1,31):
    if i % 3 == 0 :
        print(i)

3
6
9
12
15
18
21
24
27
30

In [73]:
# 99부터 0까지 1씩 감소하는 숫자들을, 한 라인에 하나씩 출력
for x in range(99,0,-1):
    print(x)
    
#   
for y in range(100):
    print(99 - i)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98

In [75]:
# 0.1, 0.2, 0.3... 으로 나타내기 
for i in range(10):
    print(i/10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [76]:
# 구구단 3단을 출력 
n = 3
for i in range(10):
    print("{} X {} = {}".format(n, i, n*i))

3 X 0 = 0
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27

In [78]:
# 구구단 3단을 출력하라. 단 홀수 번째만 출력한다.
n = 3
for i in range(1,11):
    if i % 2 != 0:
        print("{} * {} = {}".format(n,i,n*i))

3 * 1 = 3
3 * 3 = 9
3 * 5 = 15
3 * 7 = 21
3 * 9 = 27

In [81]:
# 1~10까지의 숫자에 대해 모두 더한 값을 출력하는 프로그램
sum = 0
for i in range(11):
    sum = sum + i
print(sum)

55

In [82]:
# 1~10까지의 숫자 중 모든 홀수의 합을 출력하는 프로그램

sum = 0 
for i in range(11):
    if i % 2 != 0:
        sum = sum + i
print(sum)

25

In [90]:
# 1~10까지의 숫자를 모두 곱한 값을 출력하는 프로그램
multiply = 1 

for i in range(1,11):
    multiply *= i 
print(multiply)

3628800

In [91]:
# for & range 

price_list = [32100, 32150, 32000, 32500]
for i in price_list:
    print(i)

32100
32150
32000
32500

In [92]:
# for & range with index 

price_list = [32100, 32150, 32000, 32500]
for i in range(len(price_list)):
    print(i, price_list[i])

0 32100
1 32150
2 32000
3 32500

In [94]:
# for & range with index 2

price_list = [32100, 32150, 32000, 32500]

for i in range(len(price_list)):
    print(3-i, price_list[i])

3 32100
2 32150
1 32000
0 32500

In [97]:
# for & range with index 3

num = 90
price_list = [32100, 32150, 32000, 32500]
for i in price_list[1:]:
    num = num + 10
    print(num, i)

100 32150
110 32000
120 32500

In [21]:
# for & range with index 4

my_list = ["가", "나", "다", "라"]
for i in range(len(my_list)-1):  # 3
    print(my_list[i], my_list[i+1])

가 나
나 다
다 라

In [23]:
# for & range with index 5


my_list = ["가", "나", "다", "라", "마"]
for i in range(len(my_list)-2):
    print(my_list[i], my_list[i+1], my_list[i+2])

가 나 다
나 다 라
다 라 마

In [11]:
# for & range with index 6

my_list = ["가", "나", "다", "라"]

for i in range(len(my_list)-1,0,-1):
    print(my_list[i], my_list[i-1])

라 다
다 나
나 가

In [24]:
# . 각각의 데이터에 대해서 자신과 우측값과의 차분값을 화면에 출력

my_list = [100, 200, 400, 800]
for i in range(0,len(my_list)-1):  # range(0, 2)
    print(my_list[i+1]- my_list[i])

100
200
400

In [38]:
# 종가 데이터의 3일 이동 평균을 계산하고 이를 화면에 출력
my_list = [100, 200, 400, 800, 1000, 1300]

sum = 0 
sum1 = 0 
sum2 = 0
sum3 = 0
for i in range(len(my_list)-3):  # 0~ 3
    sum += my_list[i] 
    sum1 += my_list[i+1]
    sum2 += my_list[i+2]
    sum3 += my_list[i+3]
print(sum/3)
print(sum1/3)
print(sum2/3)
print(sum3/3)



for i in [0,1,2,3]:
    SUMSUM = my_list[i] + my_list[i+1] + my_list[i + 2]
    print(SUMSUM/3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333
233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [55]:
 # low, high 두 개의 리스트를 사용해서 5일간의 변동폭(차이)을 volatility 리스트에 저장
    
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]

volatility  = [ ]
for i in range(len(low_prices)):
    volatility.append(high_prices[i] - low_prices[i])
print(volatility)

[50, 100, 30, 80, 0]

In [57]:
#  하나의 행을 하나의 리스트로 총 3개의 리스트를 갖는 이차원 리스트 apart를 정의
apart = [["101호","102호"],["201호","202호"],["301호","302호"]]
apart

[['101호', '102호'], ['201호', '202호'], ['301호', '302호']]

In [61]:
# 나의 열을 하나의 리스트로, 총 2개의 리스트를 갖는 이차원 리스트 stock을 정의
stock = [["시가",100,200,300],["종가",80,210,330]]
stock

[['시가', 100, 200, 300], ['종가', 80, 210, 330]]

In [63]:
# stock 이름의 딕셔너리로 표현하기 
stock = {"시가":[100,200,300], "종가":[80,330,500]}
stock

{'시가': [100, 200, 300], '종가': [80, 330, 500]}

In [64]:
# stock 이름의 딕셔너리로 표현하기
stock2 = {"10/10":[80,110,70,90],"10/11":[210,230,190,200]}
stock2

{'10/10': [80, 110, 70, 90], '10/11': [210, 230, 190, 200]}

In [75]:
# 출력 다르게하기1
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart:
    for each in i:
        print(each,"호")

101 호
102 호
201 호
202 호
301 호
302 호

In [89]:
# 출력 다르게하기2
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in range(len(apart)):
     unit = apart[i-1]
     for i in unit:
        print(i, "호")

        
for row in apart[::-1]:
    for col in row:
        print(col, "호")

301 호
302 호
101 호
102 호
201 호
202 호
301 호
302 호
201 호
202 호
101 호
102 호

In [92]:
# 출력 다르게하기3
apart = [ [101, 102], [201, 202], [301, 302] ]

for i in apart:
    for j in i:
        print(j,"호")
        print("-----")

101 호
-----
102 호
-----
201 호
-----
202 호
-----
301 호
-----
302 호
-----

In [97]:
# 출력 다르게하기4
apart = [ [101, 102], [201, 202], [301, 302] ]

for i in apart:
    for j in i:
        print(j,"호")
    print("-----")

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----

In [98]:
# 출력 다르게하기5

apart = [ [101, 102], [201, 202], [301, 302] ]

for i in apart:
    for j in i:
        print(j,"호")
print("--------")

101 호
102 호
201 호
202 호
301 호
302 호
--------

In [102]:
# 반복문 응용 
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

for line in data:
    for col in line:
        print(col * 1.14)
    print("-------")

2280.0
3476.9999999999995
2337.0
2257.2
-------
8550.0
2337.0
2337.0
2257.2
-------
17613.0
17157.0
17727.0
16986.0
-------

In [117]:
# ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 화면에 종가(CLOSE)데이터를 출력

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for i in ohlc[1:]:
    print(i[3])

100
190
310

In [127]:
 # ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 종가가 150원보다 큰경우에만 종가를 출력

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
    
for i in ohlc[1:]:
    if i[3] >= i[0]:
        print(i[3])

100
310

In [142]:
# ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 고가와 저가의 차이를 변동폭으로 정의할 때 변동폭을 volatility 이름의 리스트에 저장


ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

volatility = [ ]
for 차이 in ohlc[1:]:
    diff = 차이[1]- 차이[2]
    volatility.append(diff)
print(volatility)


volatility2 = [ ]
for i in ohlc[1:]:
    volatility2.append(i[1]- i[2])
print(volatility2)

[40, 30, 10]
[40, 30, 10]

In [147]:
#  시가에 매수해서 종가에 매도 했을 경우 총 수익금을 계산

# 시가 - 종가  의 sum 

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]


sum= 0
for i in ohlc[1:]:
    diff = i[0] - i[3]
    sum = sum + diff
print(sum)

0