In [3]:
# 리턴값이 없는! 함수만들기
def a():
    print("붕어빵")
a() # 함수호출

def b():
    print("개구리빵")
b() # 함수호출

붕어빵
개구리빵

In [8]:
# 리턴값이 있는! 함수만들기 

def a():
    result="붕어빵"
    return result
a()

def b():
    result="잉어빵"
    return result
b()

print(a())
print(b())

붕어빵
잉어빵

In [10]:
# print와 return 차이 

# return값이 있는 함수 
def return_name():
    return "peter"

# return값이 없는 함수 

def print_name():
    print("peter")

    
print_name()
return_name()

peter

'peter'

In [3]:
# 변수, 메모리, 주소 값 
# id() 함수는 객체의 고유값(레퍼런스)
def a():
    result = "붕어빵"
    result_loc= id(result)
    return result_loc

def b():
    result = "개구리빵"
    result_loc= id(result)
    return result_loc
print(a())
print(b())

2087872921008
2087872921488

In [8]:
# 최고 점수를 출력하는 함수 만들기 -- 나의 풀이
English_Score=[35,12,33,100,34,98,34,53]

def score():
    answer = [English_Score[i]for i in range(len(English_Score))]
    result = max(answer)
    return result

score()

100

In [9]:
# 최저 점수를 출력하는 함수 만들기 -- 나의 풀이 
English_Score=[35,12,33,100,34,98,34,53]

def score():
    answer = [English_Score[i] for i in range(len(English_Score))]
    result = min(answer)
    return result 
score()

12

In [10]:
# 최고, 최점가 동시에 나오도록 구현하기?

def max_min(score):
    return max(score)  # return 는 한 줄로 끝남! 
    return min(score)

English_Score=[35,12,33,100,34,98,34,53]
result = max_min(English_Score)
result

100

In [17]:
# 오름차순, 내림차순 정렬을 sort(), sorted() 함수로 구현하기 
# 1. sort() >> 원본 변경 
lst = [100,50,70,80,32]
lst.sort()
lst.sort(reverse=True)
lst

[100, 80, 70, 50, 32]

In [18]:
# 2.sorted() >> 새로운 리스트로 정렬 
# >> 원본 리스트는 그대로 유지 
new = sorted(lst)
new

[32, 50, 70, 80, 100]

In [19]:
new = sorted(lst, reverse=True)
new

[100, 80, 70, 50, 32]

In [23]:
# 함수 호출하기 

def my_func(id, name, strength):
    return id, name, strength

result = my_func("yuna","여나당","100")
print(result)
print(type(result))

('yuna', '여나당', '100')
<class 'tuple'>

In [26]:
def my_func(id, name, power):
    return id, name, power 

result = my_func(id="yuna",name="슈퍼맨",power=3000)
a, b, c= my_func(id="yunaaa", name="배트맨", power=4000)

# 하나의 변수로 리턴값을 받아서 출력 
# 여러개의 변수로 리턴값을 받아서 출력 
print(result, type(result))
print("______________________")
print(a,b,c)
print(type(a),type(b),type(c))

('yuna', '슈퍼맨', 3000) <class 'tuple'>
______________________
yunaaa 배트맨 4000
<class 'str'> <class 'str'> <class 'int'>

In [32]:
# 함수만들기 
# 가변길이 함수 만들기 ?! >> 함수에서 입력 parameter를 받을 때 * 표시를 해줌으로써 가변길이라는 것을 명시적으로 표시한다. 
def my_func(*x):
    n=0
    for i in x:
        n = n + i        
    return n

In [35]:
a = my_func(1,2,3,4)
a

10

In [36]:
b = my_func(1,2,3,4,5,6,7,8,9)
b

45

In [38]:
def my_func(*params):
    n = params
    return n, type(n)

a = my_func(1,2,3,4)
a

((1, 2, 3, 4), tuple)

In [13]:
# 해당 파라미터의 갯수와 홀수들의 합을 구하는 코드 구현 

def my_func(*params):
    odd = 0 
    count = 0 
    for i in params: 
        count = count + 1 # parameter의 총 갯수 
        if i % 2 != 0:    
         #  count = count + 1  parameter중 홀수의 갯수 
            odd = odd + i 
        result = count, odd
    return result         
my_func(1,2,3,4,5)

(5, 9)

In [17]:
# 파라미터에게 기본값(default value)를 설정 할 수 있다. 

def myself(name, age, nationality="한국"):
    print("내 이름은 {}".format(name))
    print("나이는 {}살".format(age))
    print("국적은{}".format(nationality))
    
print(myself("연아",33,"미국"))
print("__________________디폴트값적용")
print(myself("연아",33))

내 이름은 연아
나이는 33살
국적은미국
None
__________________디폴트값적용
내 이름은 연아
나이는 33살
국적은한국
None

In [18]:
# 실습1 =>> 짝수? 홀수? 
# 어떤 수가 짝수인지 홀수인지 판단해 주는 함수 is_evenly_divisible

def is_evenly_divisible(number):
    if number % 2 == 0:
        return True
    return False


print(is_evenly_divisible(3))
print(is_evenly_divisible(7))
print(is_evenly_divisible(8))
print(is_evenly_divisible(218))
print(is_evenly_divisible(317))

False
False
True
True
False

In [25]:
# 실습2 =>> 거스릅돈 계산기   (나의풀이!)    

def calculate_change(payment, cost):
    change = payment - cost # 67000
    p1 = change // 50000 # 5만원권 지페 갯수   .. 1 
    r1 = change - (p1*50000) # 17000.... 
    p2 = r1 // 10000 # 1만원권 지폐 ㅐㅅ수.. 1 
    r2 = r1-(p2*10000) # 7000
    p3 = r2 // 5000 # 1... 5천원 지폐
    r3 = r2 - (p3*5000) # 2000 
    p4 = r3 // 1000 # 2천권권... 
    
    print(f"5만원권 지폐 갯수는 {p1}장")
    print(f"1만원권 지폐 갯수는 {p2}장")
    print(f"5천원권 지폐 갯수는 {p3}장")
    print(f"1천권권 지폐 갯수는 {p4}장")
    
    
    
 
    
    
    
    
calculate_change(100000, 33000)
print()
calculate_change(500000, 378000)

5만원권 지폐 갯수는 1장
1만원권 지폐 갯수는 1장
5천원권 지폐 갯수는 1장
1천권권 지폐 갯수는 2장

5만원권 지폐 갯수는 2장
1만원권 지폐 갯수는 2장
5천원권 지폐 갯수는 0장
1천권권 지폐 갯수는 2장

In [26]:
# 실습2 =>> 거스릅돈 계산기  (해설풀이)  '


def calculate_change(payment, cost):
    change = payment-cost # 거스름돈 총액 
    
    fifty = change//50000 # 5만원 지폐 갯수
    ten = (change % 50000) // 10000 # 1만원 지폐 갯수 
    five = (change % 10000) // 5000 # 5천원 지폐 갯수 
    one = (change % 5000) // 1000 # 천원 지폐 갯수
    
    print("5만원 지폐 갯수 {}장".format(fifty))
    print("1만원 지폐 갯수 {}장".format(ten))
    print("5천원 지폐 갯수 {}장".format(five))
    print("1천원 지폐 갯수 {}장".format(one))
    
calculate_change(100000, 33000)
print()
calculate_change(500000, 378000)

5만원 지폐 갯수 1장
1만원 지폐 갯수 1장
5천원 지폐 갯수 1장
1천원 지폐 갯수 2장

5만원 지폐 갯수 2장
1만원 지폐 갯수 2장
5천원 지폐 갯수 0장
1천원 지폐 갯수 2장