In [ ]:
# list.sort   vs  sorted()

# 1. list.sort
>> 오직 list에만 적용이 된다. 
>> 원본 리스트를 변경하고 반환값이 없기 때문에 새로운 변수에 할당을 하면은 None값이 나온다.
>> sorted 보다는 less convenient 이지만 원본 리스트가 필요없는 경우 사용할때 유용하다.

# 2. sorted()
>> list외에도 literable한 객체에 대해서 사용가능하다 
>> 반환값이 있기 때문에 새로운 변수에 할당을 하면은 정렬된 값이 할당이 된다. 그 정렬된 값은 type은 list이다
>> 반면에 반환값이 있기 때문에 새로운 변수에 할당하지 않으면 변함이 없다.

In [10]:
a = [5, 2, 3, 1, 4]
a.sort()
a

[1, 2, 3, 4, 5]

In [11]:
a = [5, 2, 3, 1, 4]
new_a = a.sort()
new_a
# 아무것도 안 나옴

In [12]:
# 2. sorted()
a = [5, 2, 3, 1, 4]
sorted(a)
a

[5, 2, 3, 1, 4]

In [13]:
a = [5, 2, 3, 1, 4]
new_a = sorted(a)
new_a

[1, 2, 3, 4, 5]

In [14]:
dic = {1: 'D', 2: 'B', 3: 'B', 4: 'E', 5: 'A'}
dic

{1: 'D', 2: 'B', 3: 'B', 4: 'E', 5: 'A'}

In [15]:
new_dic = sorted(dic) 
new_dic  # key값이 나옴

[1, 2, 3, 4, 5]

In [16]:
sen = sorted("This is a test string from Andrew".split())  # split를 하면은 split를 기준으로 오름차순..
sen

['Andrew', 'This', 'a', 'from', 'is', 'string', 'test']

In [17]:
sen = sorted("This is a test string from Andrew".split(), key = str.lower)  
sen

['a', 'Andrew', 'from', 'is', 'string', 'test', 'This']

In [18]:
my_list = ['Jack', 'Sam', 'Jay', 'Mark','Baron']
new_my_list = sorted(my_list, reverse = True, key = len) # 내림차순 정렬  with Key, 즉 글자수가 많은것부다 적은순으로 정렬.
new_my_list

['Baron', 'Jack', 'Mark', 'Sam', 'Jay']

In [19]:
new_my_list = "".join(new_my_list)  # ""안에는 구분자!
new_my_list

'BaronJackMarkSamJay'