# Exerciese 1 
- Print First 10 natural numbers using while loop

In [1]:
i = 1

while i <= 10:
    print(i)
    i = i + 1

1
2
3
4
5
6
7
8
9
10

# Exerciese 2
- Print the following pattern

In [15]:
i = 1
j = 0
while i <= 5:
    for j in range(1,i+1):
        print(j, end = " ")
    i = i + 1
    print("")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [19]:
num = 5
for i in range(1,num+1):
    for j in range(1,i+1):
        print(j, end="")
    print("")

1
12
123
1234
12345

In [ ]:
# Exerciese 3
- Calculate the sum of all numbers from 1 to a given number

In [21]:
num = int(input())

total = 0
for i in range(num+1):
    total = total + i
print(total)

10
55

In [25]:
num = int(input())
answer = sum(range(num+1))
answer

10

55

In [ ]:
# Exerciese 4
- Write a program to print multiplication table of a given number

In [28]:
num = int(input())

for i in range(1,11):
    answer = num * i
    print(answer)

2
2
4
6
8
10
12
14
16
18
20

In [ ]:
# Exerciese 5
- Display numbers from a list using loop
- condition:
1.The number must be divisible by five
2.If the number is greater than 150, then skip it and move to the next number
    If the number is greater than 500, then stop the loop

In [ ]:
numbers = [12, 75, 150, 180, 145, 525, 50]

In [ ]:
# Exerciese 6
-  Count the total number of digits in a number
- For example, the number is 75869, so the output should be 5.

In [47]:
num = int(input()) 
i = 0 
cnt = 0
while i < len(str(num)):
   # print(i)
    cnt = cnt + 1
    i = i + 1
print(cnt)

75869
5

In [49]:
num = int(input()) 
cnt = 0 

while num != 0 :
    num = num // 10 
    cnt = cnt + 1
print(cnt)

12345
5

In [ ]:
# Exerciese 7 Print the following pattern
- write a program to use for loop to print the following reverse number pattern

In [57]:
num = int(input()) 

for i in range(num, 0, -1):    
    for j in range(i,0,-1):
        print(j,end=" ")
    print("")

5
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [61]:
num = int(input()) 

for i in range(0,num+1):  # i 는 0~ 5까지.
    for j in range(num-i,0, -1):  # j는 5-0, 5-1, 5-2, 5-3, 5-4, 5-5... 
        print(j,end="")
    print()

5
54321
4321
321
21
1

In [ ]:
# Exercise 8: Print list in reverse order using a loop

In [69]:
list1 = [10, 20, 30, 40, 50]
i = len(list1) - 1  # 4
while len(list1) > 0:
    print(list1[i])   
    i = i - 1   =
    if i == -1:
        break

50
40
30
20
10

In [65]:
list1 = [10, 20, 30, 40, 50]

for i in range(len(list1)-1,-1,-1):
    print(list1[i])

50
40
30
20
10

In [73]:
list1 = [10, 20, 30, 40, 50]
new = reversed(list1)

for x in new:
    print(x)

50
40
30
20
10

In [76]:
list1 = [10, 20, 30, 40, 50]
size = len(list1)-1  # b/c index starts with 0 
for i in range(size, -1, -1):
    print(list1[i])

50
40
30
20
10

In [77]:
# Exercise 9: Display numbers from -10 to -1 using for loop

for i in range(-10,0):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [ ]:
Exercise 10: Use else block to display a message “Done”

In [78]:
for i in range(5):
    print(i)
else:
    print("for loop exeuted w/o any error")

0
1
2
3
4
for loop exeuted w/o any error

In [ ]:
# Exercise 11: Write a program to display all prime numbers
https://pynative.com/python-if-else-and-for-loop-exercise-with-solutions/#h-exercise-8-print-list-in-reverse-order-using-a-loop

In [128]:
for i in range(1,11):
    result = []
    for j in range(1,i+1):         
        if i % j == 0 :
            result.append(j)
    if len(result) == 2:
        print(result[1])
    continue
    print()

2
3
5
7

In [131]:
start = 25
end = 50
for i in range(1,end):
    result = []
    for j in range(1,i+1):         
        if i % j == 0 :
            result.append(j)
    if len(result) == 2:
        if result[1] >=25:
            print(result[1])
    continue
    print()

29
31
37
41
43
47

In [147]:
start = 25
end = 50

for num in range(start, end+1):  # num은 3부터 10까지..
    if num > 1:   
        for i in range(2,num):  # i는 2부터 num 까지.. (num 3 ~ 1)
            if (num % i) == 0:
                break            
        else:
            print(num)

29
31
37
41
43
47

In [156]:
# Exercise 13: Find the factorial of a given number

num1 = 0 
num2 = 1  

for i in range(10):
    if i == 0 or i == 1:
        print(i)
    else:
        res = num1 + num2 
        num1 = num2
        num2 = res
        print(res)

0
1
1
2
3
5
8
13
21
34

In [158]:
# first two numbers
num1, num2 = 0, 1

for i in range(10):
    print(num1)
    res = num1 + num2 # 1
    num1 = num2 # 1,
    num2 = res  # 1

0
1
1
2
3
5
8
13
21
34

#  Exercise 13:  Find the factorial of a given number

In [163]:
# For example: calculate the factorial of 5

num = int(input())
answer = 1
for i in range(num,0,-1):
    answer = answer * i 
print(answer)

5
120

In [164]:
num = int(input())
answer = 1

if num < 0:
    print("Factorial does not exist for negative numbers") 
elif num == 0:
    print("The factorial of 0 is 1")
else:
    for i in range(1, num+1):
        answer = answer * i
    print(answer)

5
120

#  Exercise 14:  Reverse a given integer number

In [180]:
num = 76542

num

76542

In [181]:

for i in range(len(str(num))):
    answer = num % 10
    num = num // 10
    print(answer,end="")

24567

In [ ]:
num = 76542
rever = 0
while num>0:
    reminder = num % 10 # 2 
    rever = reminder + rever * 10 
    num = num // 10

# Exercise 15: Use a loop to display elements from a given list present at odd index positions

In [183]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

for i in range(1,len(my_list),2):
    print(my_list[i])

20
40
60
80
100

In [184]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

for i in my_list[1::2]:
    print(i)

20
40
60
80
100

# Exercise 16: Calculate the cube of all numbers from 1 to a given number

In [193]:
num = int(input())

for i in range(1,num+1):
    i = i * i * i 
    print(i)

6
1
8
27
64
125
216

In [199]:
# Exercise 17: Find the sum of the series upto n terms
num = int(input())
for i in range(1,num):
    print(i)

5
1
2
3
4

In [204]:
def fact(n):
    if n == 1:
        return 1
    return n * fact(n-1)

fact(5)

120

In [17]:
def cal(num):    
    if num == 1:
        return 2
    answer = 10 ** (num-1) * 2 + cal(num-1)         
    return answer + cal(num-1)

In [24]:
cal(2)

24

In [48]:
# Exercise 18: Print the following pattern


for i in range(1,6):  # i는 1~ 5
    for j in range(i,i+1): # i가 1일때 j는 1,2 /// 2일때는 
        print("*"*j)
for p in range(4,0,-1):
    print(p * "*")

*
**
***
****
*****
****
***
**
*

In [59]:
rows = 5

for i in range(0,rows):  
    for j in range(0, i+1):  # i가 0일때는, j는, 0~ 1/ 1일때는 0.2/// 
        print("*",end="")
    print("")
    
for i in range(rows,0,-1): # 5,4,3,2,1
    for j in range(0,i-1): # 4, 3, 2, 1, ...
        print("*",end="")
    print("")

*
**
***
****
*****
****
***
**
*